.Rating {
  font-weight: normal;
  font-size: 0.8em;
  padding: 0.25em;
  background-color: #444;
  color: #fff;
  border-radius: 0.25em;
}

.Rating--g {
  color: #fff;
  background-color: #23b24b;
}

.Rating--pg {
  color: #000;
  background-color: #fff104;
}

.Rating--m {
  color: #fff;
  background-color: #00aeef;
}

.Rating--ma {
  color: #fff;
  background-color: #ed1b23;
}

.Rating--r,
.Rating--x {
  color: #fff;
  background-color: #231f20;
}

.Rating--ctc {
  color: #000;
  background-color: #f7931d;
}
